/*
author: sai1494
source: https://discord.com/channels/686053708261228577/744933215063638183/1034885176968347668
*/

.workspace {
  background-color: var(--background-secondary);
}

.workspace-leaf-resize-handle {
  border: none !important;
}

.workspace-leaf {
  border-radius: 8px;
  border: 0;
}

/* Adding border to the main workspace leaf */
.mod-root .workspace-leaf {
  border: 1px solid var(--divider-color);

  /* contain is to fix the border-right getting cut off when right collapsed */
  contain: size !important;
}

.mod-root .view-content {
  border-top: 1px solid var(--divider-color);
}

/* This is the gap between split workspaces */
.workspace-split {
  background-color: transparent !important;
  gap: 0px 8px;
}

.workspace-tab-header-container {
  background-color: var(--background-secondary);
  border-bottom: initial;
}

.status-bar {
  --status-bar-position: static;
  border: none;
  border-radius: 0%;
}

/* Used to apply a right margin when the right sidebar is collapsed */
.workspace:not(.is-right-sidedock-open) > .mod-root {
  margin-right: 26px !important;
}

/* Used to apply a left margin when the left sidebar is collapsed */
.workspace:not(.is-left-sidedock-open) > .mod-root {
  margin-left: 26px !important;
}

body:not(.is-mobile).is-popout-window .horizontal-main-container {
    padding-bottom: 16px;
}

.sidebar-toggle-button {
  --tab-container-background: var(--background-secondary) !important;
}

/* Floating tab style */
.workspace-tab-header.is-active {
  box-shadow: none;
  border: var(--tab-outline-width) solid var(--tab-outline-color);
  border-radius: 6px;
}

.workspace-tab-header-container-inner {
  margin: 6px -5px 6px;
}

.workspace-tab-header::before, .workspace-tab-header::after {
  display: none;
}