.HyperMD-header-2::after, h2 {
    display: block;
    content: "";
    padding-bottom: 2px;  
    border-bottom: 1px solid var(--divider-color);
}

body {
  --blockquote-color: var(--text-muted);
  /*
  --h1-font: "Recoleta Alt";
  --h2-font: "Recoleta Alt";
  --h3-font: "Recoleta Alt";
  --h4-font: "Recoleta Alt";
  --h5-font: "Recoleta Alt";
  --h6-font: "Recoleta Alt";
  */
}