.HyperMD-header-2::after, h2 {
    display: block;
    content: "";
    padding-bottom: .3em;  
    border-bottom: 1px solid var(--divider-color);
}

body {
  --blockquote-color: var(--text-muted);
  --line-height-normal: 1.8;
/*   
  --h1-font: "Recoleta Alt";
  --h2-font: "Recoleta Alt";
  --h3-font: "Recoleta Alt";
  --h4-font: "Recoleta Alt";
  --h5-font: "Recoleta Alt";
  --h6-font: "Recoleta Alt";
  */
}